runpod==1.7.9
torch==2.4.1
torchvision==0.19.1
diffusers==0.31.0
transformers==4.46.3
accelerate==1.1.1
Pillow==10.4.0
huggingface_hub==0.26.2
safetensors==0.4.5
imageio==2.36.0
imageio-ffmpeg==0.5.1
einops==0.8.0
